<!DOCTYPE html>
<html ng-app='three-goals-wc'>
<head>
	<meta charset="utf-8">
	<title>Three Goals World Championchip 88</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="lib/tablesort.css">
	<style type="text/css">
		.numeric {
			font-family: monospace;
			text-align: right;
		}
	</style>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.1/lodash.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.min.js"></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js'></script>
	<script type="text/javascript" src='lib/angular-tablesort.js'></script>
	<script type="text/javascript" src='app.js'></script>
</head>
<body ng-cloak ng-controller='standings as ctrl'>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand">3Goals WC Fansite!</span>
			</div>
		</div>
	</nav>


	<div class='container'>
		<h1>Team standings</h1>

		<table class='table table-hover table-striped table-bordered' style='width: auto;' ts-wrapper>
			<thead>
				<tr>
					<th width="8%" ts-criteria="rank | parseInt" ts-default="ascending">#</th>
					<th ts-criteria="name">Team</th>
					<th width="10%" ts-criteria="pts | parseInt">
						<abbr title="Points">Pts</abbr>
					</th>
					<th width="8%" ts-criteria="wins | parseInt">
						<abbr title="Wins">W</abbr>
					</th>
					<th width="8%" ts-criteria="draws | parseInt">
						<abbr title="Draws">D</abbr>
					</th>
					<th width="8%" ts-criteria="losses | parseInt">
						<abbr title="Losses">L</abbr>
					</th>
					<th width="8%" ts-criteria="walkovers | parseInt">
						<abbr title="Walkovers">M</abbr>
					</th>
					<th width="8%" ts-criteria="gd | parseInt">
						<abbr title="Goal difference">GD</abbr>
					</th>
					<th width="8%" ts-criteria="scored | parseInt">
						<abbr title="Goals scored">Sc</abbr>
					</th>
					<th width="8%" ts-criteria="conceded | parseInt">
						<abbr title="Goals conceded">Cn</abbr>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="team in ctrl.teams" ts-repeat>
					<td class='numeric' width="8%">{{team.rank}}</td>
					<td>{{team.name}}</td>
					<td class='numeric' width="10%">{{team.pts}}</td>
					<td class='numeric' width="8%">{{team.wins}}</td>
					<td class='numeric' width="8%">{{team.draws}}</td>
					<td class='numeric' width="8%">{{team.losses}}</td>
					<td class='numeric' width="8%">{{team.walkovers}}</td>
					<td class='numeric' width="8%">{{team.gd}}</td>
					<td class='numeric' width="8%">{{team.scored}}</td>
					<td class='numeric' width="8%">{{team.conceded}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class='container'>
		<h1>Player standings</h1>

		<table class='table table-hover table-striped table-bordered' style='width: auto;' ts-wrapper>
			<thead>
				<tr>
					<th width="8%" ts-criteria="rank | parseInt" ts-default="ascending">#</th>
					<th ts-criteria="name">Player</th>
					<th ts-criteria="city">City</th>
					<th width="10%" ts-criteria="pts | parseInt">
						<abbr title="Points">Pts</abbr>
					</th>
					<th width="8%" ts-criteria="wins | parseInt">
						<abbr title="Wins">W</abbr>
					</th>
					<th width="8%" ts-criteria="draws | parseInt">
						<abbr title="Draws">D</abbr>
					</th>
					<th width="8%" ts-criteria="losses | parseInt">
						<abbr title="Losses">L</abbr>
					</th>
					<th width="8%" ts-criteria="walkovers | parseInt">
						<abbr title="Walkovers">M</abbr>
					</th>
					<th width="8%" ts-criteria="gd | parseInt">
						<abbr title="Goal difference">GD</abbr>
					</th>
					<th width="8%" ts-criteria="scored | parseInt">
						<abbr title="Goals scored">Sc</abbr>
					</th>
					<th width="8%" ts-criteria="conceded | parseInt">
						<abbr title="Goals conceded">Cn</abbr>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in ctrl.players" ts-repeat>
					<td class='numeric' width="8%">{{player.rank}}</td>
					<td>{{player.name}}</td>
					<td>{{player.city}}</td>
					<td class='numeric' width="10%">{{player.pts}}</td>
					<td class='numeric' width="8%">{{player.wins}}</td>
					<td class='numeric' width="8%">{{player.draws}}</td>
					<td class='numeric' width="8%">{{player.losses}}</td>
					<td class='numeric' width="8%">{{player.walkovers}}</td>
					<td class='numeric' width="8%">{{player.gd}}</td>
					<td class='numeric' width="8%">{{player.scored}}</td>
					<td class='numeric' width="8%">{{player.conceded}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
